.accordion {
  padding: 16px 0;
}

.accordion [data-aue-model="accordionitem"] {
  border-bottom: 1px solid #dadada;
  margin: 0;
}

.accordion [data-aue-prop="accordionitemlabel"] {
  position: relative;
  padding: 16px;
  margin: 0;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  background-color: var(--background-color);
}

.accordion [data-aue-prop="accordionitemlabel"]:hover,
.accordion [data-aue-prop="accordionitemlabel"]:focus {
  color: var(--dark-color);
}

.accordion [data-aue-prop="accordionitemlabel"]::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid currentColor;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion [data-aue-prop="accordionitembody"] {
  padding: 0 16px 16px;
  color: var(--dark-color);
  display: none;
}

.accordion [data-aue-prop="accordionitembody"] p {
  margin: 0;
}

/* Ensure the active (open) accordion item is styled correctly */
.accordion [data-aue-model="accordionitem"].open [data-aue-prop="accordionitemlabel"] {
  color: var(--dark-color);
  border: 0;
}

.accordion [data-aue-model="accordionitem"].open [data-aue-prop="accordionitemlabel"]::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion [data-aue-model="accordionitem"].open [data-aue-prop="accordionitembody"] {
  display: block;
  background-color: var(--background-color);
}
