
  /* Alignment */
  .wkndtitle.left {
    text-align: left;
  }

  .wkndtitle.center {
    text-align: center;
  }

  .wkndtitle.right {
    text-align: right;
  }
  
  /* Colors */
  .wkndtitle.black {
    color: var(--color-black);
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .wkndtitle.white {
    --text-color:var(--color-white);
  }

  .wkndtitle.gray {
    --text-color: var(--color-gray);
  }
  
  /* Variations */
  .wkndtitle.default {
    text-decoration: none;
  }

  .wkndtitle.underline {
    border-bottom: 2px solid var(--color-yellow);
    width: 84px;
    padding-top: 8px;
  }
  