.wknd-title {
    margin: 1em 0;
    font-weight: bold;
    line-height: 1.2;
    transition: all 0.2s ease-in-out;
  }
  
  /* Alignment */
  .wknd-title.left {
    text-align: left;
  }

  .wknd-title.center {
    text-align: center;
  }
  
  .wknd-title.right {
    text-align: right;
  }
  
  /* Colors */
  .wknd-title.black {
    color: black;
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .wknd-title.white {
    color: white;
  }

  .wknd-title.gray {
    color: gray;
  }
  
  /* Variations */
  .wknd-title.default {
    text-decoration: none;
  }

  .wknd-title.underline {
    text-decoration: underline;
  }
  