.wknd-title {
    margin: 0.5em 0;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }
  
  /* Alignment classes */
  .wknd-title.left {
    text-align: left;
  }
  
  .wknd-title.center {
    text-align: center;
  }
  
  .wknd-title.right {
    text-align: right;
  }
  
  /* Color classes */
  .wknd-title.black {
    color: black;
  }
  
  .wknd-title.white {
    color: white;
  }
  
  .wknd-title.gray {
    color: gray;
  }
  
  /* Variation */
  .wknd-title.underline {
    text-decoration: underline;
  }
  
  .wknd-title.default {
    text-decoration: none;
  }
  