.carousel.block {
  position: relative;
  overflow: hidden;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  /* stylelint-disable-next-line color-function-notation */
  background: rgba(0, 0, 0, 50%);
  color: white;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}
