.section > .faq-wrapper {
    max-width: 1920px;
    background-color: #F3F2F6;
  }
  
  .section-heading {
    text-align: center;
    padding: 40px 20px;
    font-size: 36px;
    color: #2C2C2C;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 0 50px;
    max-width: 840px;
    margin: 0 auto;
  }
  
  .faq-list li {
    background: white;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px red;
    transition: all 0.3s ease;
  }
  
  .faq-list li:hover {
    opacity: 1;
    transform: translateY(-2px);
  }
  
  .faq-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #2C2C2C;
    cursor: pointer;
  }
  
  .faq-heading b::after {
    content: "+";
    font-size: 20px;
    margin-left: 10px;
  }
  
  details[open] summary b::after {
    content: "-";
  }
  
  .faq-description {
    font-size: 16px;
    color: #2C2C2C;
    margin-top: 10px;
    line-height: 1.6;
  }
  